/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||reset css|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||maincss||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	@font-face {
		font-family: proximanova;
		src : url(../font/ProximaNova-Reg.ttf);
	}

	@font-face {
		font-family: proximanova;
		src : url(../font/ProximaNova-Sbold.ttf);
		font-weight: bold;
	}
		@font-face {
		font-family: proximanova;
		src : url(../font/ProximaNova-Bold.ttf);
		font-weight: 900;
	}

	html, body {
		margin: 0;
		padding: 0;
	    font-family: proximanova, Arial, Helvetica, sans-serif;
	    background: #fff;
	    color: #ccc;
	    overflow-x: hidden;
	}

	a, a:link, a:visited, a:hover, a:active {
		text-decoration: none;
	    color: inherit;
	}

	html *, html *:before, html *:after {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	 	box-sizing: border-box;
		font-size: 14px;
	}

	.containerPage {
		/*width: 1360px;*/
		/*padding: 0;*/
		margin: 0 auto;
		position: relative;
	}

	.clearboth {
		clear: both;
	}

	.sparseLogo {
		background: url(../img/sparselogo.svg) no-repeat center;
		background-size: contain;
		/*border: 1px solid #fff;*/
	}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||loginpage|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	.login .topPanel .sparseLogo {
		width: 150px;
		height: 50px;
		position: absolute;
		top: 25px;
		left: 30px;
		/*background-color: #fff;*/
		z-index: 1;
	}

	.loginPanel {
		z-index: -1
		width: 100%;
		height: 100vh;
		position: relative;
		text-transform: capitalize;
		background: #317194;
	}

	.loginPanel .leftbox,
	.loginPanel .rightbox {
		width: 50%;
		float: left;
		color: #fff;
	}

	.welcomeBox {
		text-align: center;
		font-size: 250%;
		line-height: 100vh;
	}

	.loginBox {
		margin: 0 auto 0 0;
		width: 50%;
		height: 200px;
		top: 50vh;
		margin-top: -75px;
		position: absolute;
	}

	.loginBox .email, .loginBox .password {
		display: block;
		width: 100%;
		height: auto;
	}

		.email input, .password input {
			display: inline-block;
			width: 50%;
			height: 30px;
			line-height: 2;
			border-radius: 7px;
			margin: 0 0 10px 20px;
			border: none;
			color: #000;
			font-size: 0.8em;
			text-indent: 10px;
		}
		
		.email .title, .password .title {
			display: inline-block;
			width: 25%;
			font-size: 0.9em;
			text-align: right;
			line-height: 2;
		}

	.loginBox .loginButton {
		width: 100px;
		height: 32px;
		font-size: 0.8em;
		line-height: 32px;
		cursor: pointer;
		color: #fff;
		border-radius: 5px;
		margin: 20px auto;
		text-transform: uppercase;
		text-align: center;
		background: #BE1429;
		box-shadow: 0px 3px 5px 0px rgba(70,0,20,0.7);
	}

	.loginBox .forgotcreate {
		width: 100%;
		text-align: center;
	}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||signinpage||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	
	.signupPanel {
		width: 100%;
		height: 100vh;
		/*position: relative;*/
		padding: 0 10%;
		text-transform: capitalize;
		background: #317194;
		color: #eee;
	}

		.panelTitle {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			color: #fff;
			text-align: center;
			font-size: 1.7em;
			padding: 50px 0;
			font-weight: bold;
		}

		.leftBox, .rightBox {
			width: 50%;
			float: left;
			display: block;
		}

		.leftBox {
			border-right: 1px solid #eee;
			padding: 10px 5% 10px 10%;
			color: #eee;
		}	
			.leftBox .sectionTitle {
				text-align: center;
				padding: 10px 0;
				font-size: 1.3em;
			}

				.infobox {
					margin: 25px auto;
					display: block;
					width: 300px;
				}
					.infobox .infoimg {
						width: 65px;
						height: 65px;
						display: inline-block;
						vertical-align: middle;
						float: left;
					}

						.infobox.one .infoimg {
							background-image: url(../img/icon-advancedsearch-white.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 50px;
						}

						.infobox.two .infoimg {
							background-image: url(../img/icon-builtformobile.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 50px;
						}

						.infobox.three .infoimg {
							background-image: url(../img/icon-realtime.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 50px;
						}

					.infobox .divider {
						display: inline-block;
						width: 230px;
						height: 65px;
						vertical-align: middle;
					}

						.infobox .infoTitle {
							font-size: 0.8em;
							font-weight: bold;
							color: #82B350;
							padding: 10px;
						}

						.infobox .infoDesc {
							font-size: 0.8em;
							padding: 0 10px;
							line-height: 1.2;
							text-transform: none;
						}

		.rightBox {
			padding: 10px 10% 20px 5%;
			width: 500px;
		}

			.registration .formTitle {
				padding: 15px 0 5px;
				font-size: 0.8em;
				text-transform: uppercase;
				font-weight: bold;
				color: #fff;
			}
			.registration .formname,
			.registration .formpass,
			.registration .formemail,
			.registration .formphone {
				padding: 10px;
				border-radius: 5px;
				border: 1px solid #ccc;
				width: 100%;
				color: #000;
				font-size: 0.85em;
			}
			.registration .signupButton {
				width: 100px;
				height: 32px;
				font-size: 0.8em;
				line-height: 32px;
				border-radius: 5px;
				cursor: pointer;
				margin: 20px auto;
				text-transform: uppercase;
				text-align: center;
				color: #fff;
				background: #BE1429;
				box-shadow: 0px 3px 5px 0px rgba(70,0,20,0.7);
			}

			.registration .footernote {
				text-align: center;
				font-size: 0.9em;
				line-height: 1.2;
			}
				.registration .footernote a{
					font-size: 1em;
					color: #4AACE2;
				}
				.registration .footernote a:hover{
					font-size: 1em;
					color: #4AACE2;
					text-decoration: underline;
				}

		.questionBox {
			position: absolute;
			width: 500px;
			text-align: center;
			border: 1px solid;
			padding: 5px;
			color: #eee;
			top: 550px;
			left: 50%;
			margin-left: -250px;
			font-size: 0.9em;
			line-height: 1.5;
			border-radius: 5px;
			cursor: pointer;
		}
			.questionBox:hover {
				color: #4AACE2;
				text-indent: 3px;
			}

		.signup .sparseLogo {
			position: absolute;
			width: 150px;
			height: 50px;
			left: 50%;
			margin-left: -75px;
			top: 600px;
		}


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||topmenu||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	.topmenu .topsection .toplogo.search {
		background: url(../img/topmenubg-search.svg) no-repeat -3px 0px;
		background-size: contain;
		width: 330px;
		height: 73px;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		cursor: pointer;
	}
	.topmenu .topsection .toplogo.nativeads {
		background: url(../img/topmenubg-nativeads.svg) no-repeat -3px 0px;
		background-size: contain;
		width: 330px;
		height: 73px;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		cursor: pointer;
	}
	.topmenu .topsection .toplogo.recommendation {
		background: url(../img/topmenubg-recommendation.svg) no-repeat -3px 0px;
		background-size: contain;
		width: 330px;
		height: 73px;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		cursor: pointer;
	}
		.topmenu .topsection .toplogo .sparseLogo {
			width: 120px;
			height: 35px;
			position: absolute;
			top: 20px;
			left: 25px;
			/*background-color: #fff;*/
			z-index: 1;
		}

		.topmenu .topsection .toplogo .enginetitle {
			position: absolute;
			top: 30px;
			left: 143px;
			font-size: 0.9em;
			text-transform: uppercase;
			color: #f5f5f5;
			/*font-family: "";*/
		}


	/* START*/
	/*
		Author : Prima Yudantra
		Date : 29 April 2916
		Demo Live Logo
	*/

	.topmenu .demo-live{
		padding-top:10px;
		padding-left:10px;
		color:white;
	}
	.demo-logo{
		background: url(../img/sparselogo.svg) no-repeat;
			background-size: contain;
	}
		.topmenu .demo-live .demo-logo{
			width: 120px;
			height: 30px;;
			/*background-color: #fff;*/
			z-index: 1;
		}

	.topmenu .topsection {
		background: #317194;
		width: 100%;
		height: 55px;
		position: relative;
	}

		.topmenu .topsection .menu1 {
			width: 45%;
			/*border: 1px solid red;*/
			right: -50px;
			position: absolute;
			line-height: 41px;
			padding: 7px 0;
			color: #fff;
		}

			.topmenu .topsection .menu1 ul {
				display: inline-block;
				width: 49%;
				padding: 0 20px;
			}
				.topmenu .topsection .menu1 ul:nth-child(1) {
					border-right: 1px solid ;
				}
			.topmenu .topsection .menu1 li {
				display: inline-block;
				width: 30%;
				height: 35px;
				text-align: center;
				text-transform: uppercase;
				font-size: 0.8em;
				cursor: pointer;
			}
				.topmenu .topsection .menu1 li:hover {
					text-decoration: underline;
				}
	.topmenu .bottomsection {
		background: transparent;
		width: 100%;
		height: 45px;
		position: relative;
		z-index: 1;
	}
		.topmenu .bottomsection .menu2 {
			width: 60%;
			margin-left: 35%;
		}
			.topmenu .bottomsection .menu2 .menulist {
				text-transform: uppercase;
				display: inline-block;
				vertical-align: top;
				width: 20%;
				float: left;
				text-align: center;
				text-indent: 10px;
				color: #999;
				height: 40px;
				line-height: 40px;
			}

				.topmenu .bottomsection .menu2 .menulist .icons {
					width: 16px;
					height: 16px;
					float: left;
					margin: 12px 0 10px 10px;
				}

				.topmenu .bottomsection .menu2 .menulist.overview .icons{
					background: url(../img/topmenu-icon-overview.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection .menu2 .menulist.analytics .icons{
					background: url(../img/topmenu-icon-analytics.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection .menu2 .menulist.customize .icons{
					background: url(../img/topmenu-icon-customize.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection .menu2 .menulist.manage .icons{
					background: url(../img/topmenu-icon-manage.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection .menu2 .menulist.integrate .icons{
					background: url(../img/topmenu-icon-integrate.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}

				.topmenu .bottomsection .menu2 .menulist ul {
					border: 1px solid #000;
					border-radius: 5px;
					background: #fff;

					display: none;
					height: 0;
				}
				.topmenu .bottomsection .menu2 .menulist:hover ul,
				.topmenu .bottomsection .menu2 .menulist ul:hover,
				.topmenu .bottomsection .menu2 .menulist ul li:hover {
					display: block;
					height: auto;
				}

					.topmenu .bottomsection .menu2 .menulist ul li {
						width: 100%;
						height: 100%;
						text-transform: capitalize;
						text-align: left;
						border-bottom: 1px solid #000;
						padding: 3px 0px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.topmenu .bottomsection .menu2 .menulist ul li:nth-last-child(1) {
						border: none;
					}

		/* 	
			Author : Prima Yudantra 
			Date : 22 April 2016
			Content container for container box in map-your-filed.html
		*/
		.content-container{
			width: 80%;
			margin:auto;
			background-color: red;
		}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||TOP MENU 2|||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*
	Author : Prima Yudantra;
	Date : 25 April 2016
	Top Menu 2 - Create New topsection-2 and bottomsection-2
*/

.topmenu .topsection-2 .toplogo.search {
		background: url(../img/topmenubg-search.svg) no-repeat -3px 0px;
		background-size: contain;
		width: 330px;
		height: 73px;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		cursor: pointer;
	}
	.topmenu .topsection-2 .toplogo.nativeads {
		background: url(../img/topmenubg-nativeads.svg) no-repeat -3px 0px;
		background-size: contain;
		width: 330px;
		height: 73px;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		cursor: pointer;
	}
	.topmenu .topsection-2 .toplogo.recommendation {
		background: url(../img/topmenubg-recommendation.svg) no-repeat -3px 0px;
		background-size: contain;
		width: 330px;
		height: 73px;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		cursor: pointer;
	}
		.topmenu .topsection-2 .toplogo .sparseLogo {
			width: 120px;
			height: 35px;
			position: absolute;
			top: 20px;
			left: 25px;
			/*background-color: #fff;*/
			z-index: 1;
		}

		.topmenu .topsection-2 .toplogo .enginetitle {
			position: absolute;
			top: 30px;
			left: 143px;
			font-size: 0.9em;
			text-transform: uppercase;
			color: #f5f5f5;
			/*font-family: "";*/
		}

	.topmenu .topsection-2 {
		background: #317194;
		width: 100%;
		height: 55px;
		position: relative;
	}

		.topmenu .topsection-2 .menu1 {
			width: 45%;
			/*border: 1px solid red;*/
			right: -50px;
			position: absolute;
			line-height: 41px;
			padding: 7px 0;
			color: #fff;
		}

			.topmenu .topsection-2 .menu1 ul {
				display: inline-block;
				width: 49%;
				padding: 0 20px;
			}
				.topmenu .topsection-2 .menu1 ul:nth-child(1) {
					border-right: 1px solid ;
				}
			.topmenu .topsection-2 .menu1 li {
				display: inline-block;
				width: 30%;
				height: 35px;
				text-align: center;
				text-transform: uppercase;
				font-size: 0.8em;
				cursor: pointer;
			}
				.topmenu .topsection-2 .menu1 li:hover {
					text-decoration: underline;
				}
	.topmenu .bottomsection-2 {
		background: transparent;
		width: 100%;
		height: 45px;
		position: relative;
		z-index: 1;
	}
		.topmenu .bottomsection-2 .menu2 {
			width: 60%;
			margin-left: 35%;
		}
			.topmenu .bottomsection-2 .menu2 .menulist {
				text-transform: uppercase;
				display: inline-block;
				vertical-align: top;
				width: 20%;
				float: left;
				text-align: center;
				text-indent: 10px;
				color: #999;
				height: 40px;
				line-height: 40px;
			}

				.topmenu .bottomsection-2 .menu2 .menulist .icons {
					width: 16px;
					height: 16px;
					float: left;
					margin: 12px 0 10px 10px;
				}

				.topmenu .bottomsection-2 .menu2 .menulist.overview .icons{
					background: url(../img/topmenu-icon-overview.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection-2 .menu2 .menulist.analytics .icons{
					background: url(../img/topmenu-icon-analytics.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection-2 .menu2 .menulist.customize .icons{
					background: url(../img/topmenu-icon-customize.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection-2 .menu2 .menulist.manage .icons{
					background: url(../img/topmenu-icon-manage.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection-2 .menu2 .menulist.integrate .icons{
					background: url(../img/topmenu-icon-integrate.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}

				.topmenu .bottomsection-2 .menu2 .menulist ul {
					border: 1px solid #000;
					border-radius: 5px;
					background: #fff;

					display: none;
					height: 0;
				}
				.topmenu .bottomsection-2 .menu2 .menulist:hover ul,
				.topmenu .bottomsection-2 .menu2 .menulist ul:hover,
				.topmenu .bottomsection-2 .menu2 .menulist ul li:hover {
					display: block;
					height: auto;
				}

					.topmenu .bottomsection-2 .menu2 .menulist ul li {
						width: 100%;
						height: 100%;
						text-transform: capitalize;
						text-align: left;
						border-bottom: 1px solid #000;
						padding: 3px 0px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.topmenu .bottomsection-2 .menu2 .menulist ul li:nth-last-child(1) {
						border: none;
					}


	.section .full {
		flex: 1;
		-webkit-flex: 1;

		background-color: #EFEFEF;
	}

	.section .full .topsection-2 {
		width: 100%;
		height: 150px;
		box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
		z-index: 2;
		/*margin-bottom: 50px;*/
		padding: 5% 3% 2%;
		background-color: #fff;
		position: relative;


		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column wrap;
		justify-content: space-around;
	}

		.section .full .topsection-2 .sectiontitle {
			font-size: 1.3em;
			font-weight: bolder;
			text-transform: capitalize;
			align-content: stretch;
			color: #9D6A37;

			flex: 1;
			-webkit-flex: 1;
		}

		.section .full .topsection-2 .sectiondetails {
			font-size: 1em;
			color: #666;
			margin-top: 5px;

			flex: 3;
			-webkit-flex: 3;
		}

	.section .full .bottomsection-2 {
		background-color: #EFEFEF;
		height: auto;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		/*-webkit-flex-flow: column wrap;	*/
		justify-content: flex-start;
	}

/**/
.topmenu .topsection-3 .toplogo.search {
		background: url(../img/topmenubg-search.svg) no-repeat -3px 0px;
		background-size: contain;
		width: 330px;
		height: 73px;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		cursor: pointer;
	}
	.topmenu .topsection-3 .toplogo.nativeads {
		background: url(../img/topmenubg-nativeads.svg) no-repeat -3px 0px;
		background-size: contain;
		width: 330px;
		height: 73px;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		cursor: pointer;
	}
	.topmenu .topsection-3 .toplogo.recommendation {
		background: url(../img/topmenubg-recommendation.svg) no-repeat -3px 0px;
		background-size: contain;
		width: 330px;
		height: 73px;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		cursor: pointer;
	}
		.topmenu .topsection-3 .toplogo .sparseLogo {
			width: 120px;
			height: 35px;
			position: absolute;
			top: 20px;
			left: 25px;
			/*background-color: #fff;*/
			z-index: 1;
		}

		.topmenu .topsection-3 .toplogo .enginetitle {
			position: absolute;
			top: 30px;
			left: 143px;
			font-size: 0.9em;
			text-transform: uppercase;
			color: #f5f5f5;
			/*font-family: "";*/
		}

	.topmenu .topsection-3 {
		background: #317194;
		width: 100%;
		height: 55px;
		position: relative;
	}

		.topmenu .topsection-3 .menu1 {
			width: 45%;
			/*border: 1px solid red;*/
			right: -50px;
			position: absolute;
			line-height: 41px;
			padding: 7px 0;
			color: #fff;
		}

			.topmenu .topsection-3 .menu1 ul {
				display: inline-block;
				width: 49%;
				padding: 0 20px;
			}
				.topmenu .topsection-3 .menu1 ul:nth-child(1) {
					border-right: 1px solid ;
				}
			.topmenu .topsection-3 .menu1 li {
				display: inline-block;
				width: 30%;
				height: 35px;
				text-align: center;
				text-transform: uppercase;
				font-size: 0.8em;
				cursor: pointer;
			}
				.topmenu .topsection-3 .menu1 li:hover {
					text-decoration: underline;
				}

	/*
		Author : Prima Yudantra
		Date : 26 April 2016
		Add new class for pages-engagement-module-engine.html
	*/
	.topmenu .bottomsection-3 {
		background: transparent;
		width: 100%;
		height: 45px;
		position: relative;
		z-index: 1;
	}
		.topmenu .bottomsection-3 .menu2 {
			width: 60%;
			margin-left: 35%;
		}
			.topmenu .bottomsection-3 .menu2 .menulist {
				text-transform: uppercase;
				display: inline-block;
				vertical-align: top;
				width: 20%;
				float: left;
				text-align: center;
				text-indent: 10px;
				color: #999;
				height: 40px;
				line-height: 40px;
			}

				.topmenu .bottomsection-3 .menu2 .menulist .icons {
					width: 16px;
					height: 16px;
					float: left;
					margin: 12px 0 10px 10px;
				}

				.topmenu .bottomsection-3 .menu2 .menulist.overview .icons{
					background: url(../img/topmenu-icon-overview.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection-3 .menu2 .menulist.analytics .icons{
					background: url(../img/topmenu-icon-analytics.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection-3 .menu2 .menulist.customize .icons{
					background: url(../img/topmenu-icon-customize.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection-3 .menu2 .menulist.manage .icons{
					background: url(../img/topmenu-icon-manage.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}.topmenu .bottomsection-3 .menu2 .menulist.integrate .icons{
					background: url(../img/topmenu-icon-integrate.svg) no-repeat;
					background-position: center;
					background-size: cover;
				}

				.topmenu .bottomsection-3 .menu2 .menulist ul {
					border: 1px solid #000;
					border-radius: 5px;
					background: #fff;

					display: none;
					height: 0;
				}
				.topmenu .bottomsection-3 .menu2 .menulist:hover ul,
				.topmenu .bottomsection-3 .menu2 .menulist ul:hover,
				.topmenu .bottomsection-3 .menu2 .menulist ul li:hover {
					display: block;
					height: auto;
				}

					.topmenu .bottomsection-3 .menu2 .menulist ul li {
						width: 100%;
						height: 100%;
						text-transform: capitalize;
						text-align: left;
						border-bottom: 1px solid #000;
						padding: 3px 0px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.topmenu .bottomsection-3 .menu2 .menulist ul li:nth-last-child(1) {
						border: none;
					}


	.section .full {
		flex: 1;
		-webkit-flex: 1;

		background-color: #EFEFEF;
	}

	.section .full .topsection-3 {
		width: 100%;
		height: 150px;
		box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
		z-index: 2;
		/*margin-bottom: 50px;*/
		padding: 5% 3% 2%;
		background-color: #fff;
		position: relative;


		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column wrap;
		justify-content: space-around;
	}

		.section .full .topsection-3 .sectiontitle {
			font-size: 1.3em;
			font-weight: bolder;
			text-transform: capitalize;
			align-content: stretch;
			color: #9D6A37;

			flex: 1;
			-webkit-flex: 1;
		}

		.section .full .topsection-3 .sectiondetails {
			font-size: 1em;
			color: #666;
			margin-top: 5px;

			flex: 3;
			-webkit-flex: 3;
		}

	.section .full .bottomsection-3 {
		background-color: #EFEFEF;
		height: auto;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column wrap;	
		justify-content: flex-start;
	}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||universal panel settings|||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.mainPanel {
		width: 100%;
		height: auto;
		display: block;
	}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||sections|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.section .full {
		flex: 1;
		-webkit-flex: 1;

		background-color: #EFEFEF;
	}

	.section .full .topsection {
		width: 100%;
		height: 150px;
		box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
		z-index: 2;
		/*margin-bottom: 50px;*/
		padding: 5% 3% 2%;
		background-color: #fff;
		/*position: relative;*/


		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column wrap;
		justify-content: space-around;
	}

		.section .full .topsection .sectiontitle {
			font-size: 1.3em;
			font-weight: bolder;
			text-transform: capitalize;
			align-content: stretch;
			color: #9D6A37;

			flex: 1;
			-webkit-flex: 1;
		}

		.section .full .topsection .sectiondetails {
			font-size: 1em;
			color: #666;
			margin-top: 5px;

			flex: 3;
			-webkit-flex: 3;
		}

	.section .full .bottomsection {
		width: 100%; 	
		background-color: #EFEFEF;
		min-height: 500px;


		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column wrap;
		justify-content: flex-start;
	}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||overview|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	.overview {
	}

	.section {
		padding: 0;
		margin: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}

	.overview .section .main {
		flex: 5;
		-webkit-flex: 5;
		padding: 3%;
	}

	.overview .hello {
		font-size: 1.2em;
		font-weight: bold;
		text-transform: capitalize;
		margin: 20px 0;
		color: #A36A37;
	}

	.overview .section .side {
		flex: 1;
		-webkit-flex: 1;
		color: #9b9b9b;

		padding: 3% 5% 3% 3%;
	}
		.side .descPanel {
			padding: 15% 7%;
		}
			.side .engine.descPanel {
				border-bottom: 2px solid;
			}

			.side .descPanel .title {
				font-weight: bold;
				margin: 10px 0;
				text-transform: capitalize;
			}
			.side .descPanel .label {
				font-size: 0.9em;
				margin: 3px 0;
				text-transform: capitalize;
			}

			.side .descPanel .details {
				margin-bottom: 7px;
				color: #ccc;
			}

			.side .deleteengine {
				color: #4aace2;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				margin-top: 20px;
				cursor: pointer;
			}

				.side .deleteengine:hover {
					color: tomato;
				}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||create new engine|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.createnewengine {
	}

	.createnewengine .section .full .bottomsection {
		width: 100%; 	
		background-color: #EFEFEF;
		min-height: 500px;


		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: flex-start;
	}

	.createnewengine .topsection .createengine.brownbutton {
		width: 130px;
		position: absolute;
		top: 45%;
		right: 3%;
	}

	.createnewengine .bottomsection .main {
		flex: 5;
		-webkit-flex: 5;
		padding: 3%;

	}
		.createnewengine .main .title {
			color: #317194;
			text-transform: capitalize;
			font-size: 1.1em;
			font-weight: bold;
			width: 100%;
		}

		.createnewengine .main .flexboxes {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			justify-content: flex-start;
		}

			.createnewengine .main .searchengine {
				padding: 0 2%;
				border-radius: 7px;
				width: 25%;
				background-color: #317194;
				color: #fff;
				margin: 30px;
				height: 200px;
				display: block;
				min-width: 20%;
				text-transform: capitalize;
				position: relative;

			}

				.createnewengine .searchengine .name {
					margin-top: 100px;
					font-weight: bold;
					line-height: 1.5;
				}
				.createnewengine .searchengine .details {
					font-size: 0.8em;
					line-height: 1.5em;
				}
				.createnewengine .searchengine .close {
					position: absolute;
					font-size: 8pt;
					top: 15px;
					right: 15px;
					cursor: pointer;
				}

			.createnewengine .searchengine.createnew {
				border: 3px dashed;
				color: #317194;
				background-color: transparent;
				cursor: pointer;
			}

				.createnewengine .searchengine.createnew .plus {
					font-size: 4em;
					margin-top: 22%;
				}
				.createnewengine .searchengine.createnew .create {
					font-weight: bold;
				}

		.createnewengine .bottomsection .side {
			flex: 1;
			-webkit-flex: 1;
			margin-top: -50px;
			background-color: #ccc;
			color: #fff;
			padding: 3%;
		}

			.createnewengine .side .supportbox {
				text-transform: uppercase;
				margin: 5px 0 35px;
			}
				.createnewengine .supportbox .title {
					font-weight: bold;
					color: #666;
					line-height: 2;
				}
				.createnewengine .supportbox .itemdetails {
					font-size: 0.8em;
					line-height: 2;
				}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||choose method|||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.choosemethod {
	}

		.choosemethod .section .full .bottomsection {
			width: 100%; 	
			background-color: #EFEFEF;
			min-height: 500px;


			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			justify-content: flex-start;
		}

		.choosemethod .bottomsection {
			padding: 0 20%;
		}

		.choosemethod .bottomsection .left{
			padding: 1% 5%;
			border-right: 2px solid;
			margin-bottom: 150px;


			flex: 1;
			-webkit-flex: 1;
		}

		.choosemethod .bottomsection .right{
			padding: 1% 5%;


			flex: 1;
			-webkit-flex: 1;
		}

			.choosemethod .bottomsection .sectiontitle {
				color: #3D8AB2;
				font-weight: 900;
				margin: 10px 0;
			}

				.choosemethod .bottomsection .sBox {
					color: #4AACE2;
					margin: 30px 0;

					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-flow: row wrap;
					justify-content: flex-start;
					align-items: center;
				}

				.choosemethod .bottomsection .sBox .icons {
					width: 50px;
					height: 50px;
				}
					.choosemethod .sBox.webcrawler .icons {
						background-image: url(../img/icon-advancedsearch-blue.svg);
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
					}
					.choosemethod .sBox.wordpress .icons {
						background-image: url(../img/icon-wordpress.svg);
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
					}
					.choosemethod .sBox.magento .icons {
						background-image: url(../img/icon-magento.svg);
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
					}
					.choosemethod .sBox.devapi .icons {
						background-image: url(../img/icon-devapi.svg);
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
					}

				.choosemethod .bottomsection .sBox .desc {
					margin-left: 15px;
					font-size: 0.85em;
					font-weight: bold;

					flex: 1;
					-webkit-flex: 1;
				}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||create crawler||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.createcrawler {

	}

		.createcrawler .section .full .bottomsection {
			width: 100%; 	
			background-color: #EFEFEF;
			min-height: 500px;


			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: column wrap;
			justify-content: flex-start;
		}

		.createcrawler .inputwebsite {
			width: 45%;
			margin: 0 auto;
			border: 1px solid;
		}

		.createcrawler .inputtitle {
			font-weight: bold;
			color: #333;
			text-transform: uppercase;
			font-size: 0.9em;
		}

		.createcrawler .inputwebsite .website {
			width: 80%;
			border-radius: 3px;
			line-height: 2;
			font-size: 0.8em;
			border: none;
			margin: 10px ;
			padding: 6px;
			vertical-align: top;
			text-indent: 10px;
		}

		.createcrawler .inputwebsite .verifyButton {
			display: inline-block;
			background-color: #CFCFCF;
			box-shadow: 0px 3px 4px 0px #000;
			color: #fff;
			padding: 5px 15px;
			border-radius: 5px;
			text-transform: uppercase;
			font-size: 0.8em;
			line-height: 1.5;
			cursor: pointer;
			text-align: center;
			margin-top: 13px;
			vertical-align: top;
		}

			.createcrawler .inputwebsite .verifyButton.active {
				background-color: #7ED321;
			}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||verify crawler||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.verifycrawler {
	}

		.verifycrawler .section .full .bottomsection {
			width: 100%; 	
			background-color: #EFEFEF;
			min-height: 500px;


			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: column wrap;
			justify-content: flex-start;
			align-items: center;
		}

		.verifycrawler .inputwebsite {
			width: 45%;
			margin: 0 auto;
		}

			.verifycrawler .inputwebsite .inputtitle {
				font-weight: bold;
				color: #333;
				text-transform: uppercase;
				font-size: 0.9em;
			}

			.verifycrawler .inputwebsite .website {
				width: 80%;
				border-radius: 3px;
				line-height: 2;
				font-size: 0.8em;
				border: none;
				margin: 10px ;
				padding: 6px;
				vertical-align: top;
				text-indent: 10px;
			}

			.verifycrawler .inputwebsite .editButton {
				display: inline-block;
				background-color: #7ED321;
				box-shadow: 0px 3px 4px 0px #000;
				color: #fff;
				padding: 5px 15px;
				border-radius: 5px;
				text-transform: uppercase;
				font-size: 0.8em;
				line-height: 1.5;
				cursor: pointer;
				text-align: center;
				margin-top: 13px;
				vertical-align: top;
			}

		.verifycrawler .verifySection {
			width: 45%;
			padding: 3% 0;
		}

			.verifycrawler .verifySection .verifysequence {
				font-size: 0.9em;
				margin-bottom: 10px;
			}
			.verifycrawler .verifySection .verifysequence .icons {
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background-color: #fff;
				display: inline-block;
				vertical-align: middle;
				margin: 0 15px;
			}
				.verifycrawler .verifySection .verifysequence .icons.accepted { 
					background: url(../img/icons-accepted.svg) no-repeat center; background-size: contain;}
				.verifycrawler .verifySection .verifysequence .icons.diclined { 
					background: url(../img/icons-diclined.svg) no-repeat center; background-size: contain;}
				.verifycrawler .verifySection .verifysequence .icons.loading { 
					background: url(../img/icons-loading.gif) no-repeat center; background-size: 70px;}

			.verifycrawler .verifySection .verifysequence .detail{
				color: #666;
				text-transform: capitalize;
				font-weight: bold;
				display: inline-block;
				vertical-align: middle;
			}
			.verifycrawler .verifySection .verifysequence .alert{
				color: #aaa;
				font-size: 0.8em;
				margin: 0 0 10px 50px ;

				display: none;
				height: 0;
			}
				.verifycrawler .verifySection .verifysequence .alert.active {
					display: block;
					height: auto;
				}

		.verifycrawler .enginenaming {
			width: 45%;
		}
			.verifycrawler .enginenaming .sectiontitle{
				color: #317194;
				text-transform: capitalize;
				font-size: 1.1em;
				font-weight: bold;
				width: 100%; 
				padding: 2% 0;
			}

				.verifycrawler .enginenaming .enginetitle {
					font-weight: bold;
					color: #333;
					text-transform: uppercase;
					font-size: 0.9em;
				}

				.verifycrawler .enginenaming .enginename {
					width: 80%;
					border-radius: 3px;
					line-height: 2;
					font-size: 0.8em;
					border: none;
					margin: 10px;
					padding: 6px;
					vertical-align: top;
					text-indent: 10px;
				}

				.verifycrawler .enginenaming .indexButton {
					background-color: #8B572A;
					box-shadow: 0px 3px 4px 0px #000;
					color: #fff;
					padding: 5px 10px;
					border-radius: 5px;
					text-transform: uppercase;
					font-size: 0.8em;
					line-height: 1.5;
					cursor: pointer;
					text-align: center;
					margin-top: 13px;
					vertical-align: top;
					width: 22.5%;
					margin: 20px auto;
				}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||ranking overview|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	.rankings {
	}
			.rankings .topsection .addrankings.brownbutton {
				width: 130px;
				position: absolute;
				top: 45%;
				right: 8%;
			}
	.rankings.popupcontainer {
		position: fixed;
		width: 100%;
		background-color: rgba(0,0,0,0.3);
		z-index: 99;

		display: none;
		height: 0;
	}

	.rankings.popupcontainer.active {
		display: block;
		height: 100%;
	}

		.rankings .popup {
			position: fixed;
			top: 50%;
			left: 50%;
			width: 500px;
			height: 300px;
			margin-top: -150px;
			margin-left: -250px;
			z-index: 100;

			background-color: #fff;
			padding: 30px;
			color: #333;
			border-radius: 10px;
		}

			.rankings .popup .popupTitle {
				font-weight: bold;
				color: #9B6B41;
				text-align: left;
				width: 100%;
				text-transform: capitalize;
			}

			.rankings .popup .popupSubtitle {
				font-size: 0.9em;
				color: #999;
			}

			.rankings .popup .querysection {
				text-align: center;
				margin: 75px auto 0px;
			}

				.rankings .querysection .addnewquery {
					margin: 0 10px;
					width: 70%;
				}
			.rankings .popup .queryremark {
				font-size: 0.8em;
				color: #999;
				text-indent: 90px;
				width: 100%;
				margin: 2px 0 75px;
				text-transform: capitalize;
			}
			.rankings .popup .saveButton {
				width: 100px;
				display: inline-block;
				margin: 0 100px 0 10px;
			}
			.rankings .popup .cancelButton {
				width: 100px;
				display: inline-block;
				margin: 0 10px 0 100px;
			}

	.rankings .section .full .bottomsection {
		width: 100%; 	
		background-color: #EFEFEF;
		min-height: 500px;


		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: flex-start;
	}

		.rankings .bottomsection .main {
			flex: 5;
			-webkit-flex: 5;
			padding: 3%;
		}
			.bottomsection .main .sectioninfo {
				margin-bottom: 20px;
				font-weight: bold;
				color: #666;
				font-size: 1.2em;
			}

		.rankings .bottomsection .side {
			flex: 1;
			-webkit-flex: 1;
			margin-top: -50px;
			background-color: #ccc;
			color: #fff;
			padding: 3%;
		}
			.bottomsection .side .sectiontitle {
				color: #fff;
				font-weight: bold;
				margin-bottom: 25px;
				font-size: 1.1em;
			}

			.bottomsection .side .faqbox {
				padding-left: 15%;
				padding-bottom: 20px;
				border-bottom: 1px solid;
				margin-bottom: 25px;
			}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||ranking sorting||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	.ranksort {

	}

		.ranksort .searchpanel {

				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: row wrap;
				justify-content: flex-start;
		}

			.ranksort .searchpanel .searchinput {
				border: 1px solid #999;
				padding: 5px 10px;
				flex: 1;
				text-transform: capitalize;
				border-radius: 5px;
				color: #666;
				text-indent: 15px;
				background: #fff url(../img/topmenu-icon-overview.svg) no-repeat 6px 6px;
				background-size: 14px;
				vertical-align: top;
				box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.6);
			}

			.ranksort .searchpanel .saveButton {
				width: 10%;
				display: inline-block;
				vertical-align: top;
				margin-right: 1%;
				margin-left: 1%;
			}
			.ranksort .searchpanel .addButton {
				width: 10%;
				display: inline-block;
				vertical-align: top;
				margin-right: 1%;
			}
			.ranksort .searchpanel .graphButton {
				width: 30px;
				height: 26.1px;
				content: "";
				display: inline-block;
				vertical-align: top;
				background-image: url(../img/icon-search.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 18px;
			}

		.ranksort .graphresult {
			display: none;
			height: 0;

			margin: 20px 0;
		}
			.ranksort .graphresult.active {
				display: block;
				height: auto;
			}
			.ranksort .graphresult .graphtitle {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.9em;
				text-align: center;
				width: 100%;
				margin: 5px 0;
			}
			.ranksort .graphresult .grapharea {
				width: 100%;
				height: 200px;
				background-color: rgba(0,0,0,0.1);
			}

		.ranksort .searchresult {
		}
			.ranksort .searchresult .resultbox {
				border: 1px solid #333;
				border-radius: 10px;
				padding: 2% 3%;
				margin: 20px 0;
				background-color: #fff;

				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: row wrap;
				justify-content: flex-start;
			}

					.ranksort .searchresult .resultbox.active {
						background-color: #ECF8FF;
						border: 1px solid #64B8E7;
					}

				.ranksort .resultbox .texts {
					flex: 1;
					color: #000;

					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-flow: row wrap;
					justify-content: flex-start;
				}
					.ranksort .resultbox .texts .title {
						font-weight: bold;
						color: #64B8E7;
						margin-bottom: 5px;
					}

					.ranksort .resultbox .texts .subs {
						color: #aaa;

						display: block;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						font-size: 0.9em;
						line-height: 1.3;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.ranksort .resultbox .texts .subs span {
						background-color: rgba(255,0,255,0.5);
					}


				.ranksort .resultbox .lock {
					width: 10%;
				}

					.ranksort .resultbox.active .lock{
						width: 10%;
						background: url(../img/icon-invite.svg) no-repeat center;
						background-size: contain;
					}

				.ranksort .resultbox .clickcount {
					width: 10%;
					color: #333;
					font-size: 3em;
					font-weight: 900;
					text-align: center;
					line-height: 1.25;
				}
						.ranksort .resultbox.active .clickcount {
							color: #64B8E7;
						}

				.ranksort .resultbox .clickcount span {
					font-weight: bold;
					text-transform: uppercase;
					display: block;
				}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||ranking addnewres||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	.addnew {
	}

		.addnew .sectionheader {
			width: 98%;
			padding: 30px;
			margin: 0 auto;
			border-bottom: 2px solid;
			height: 150px;
		}

			.addnew .sectionheader .title {
				color: #588BA7;
				font-weight: bold;
				font-size: 1.3em;
				width: 75%;
				display: inline-block;
				vertical-align: middle;
			}
				.addnew .sectionheader .title .websitename {
					color: #966840;
					font-size: 1.1em;
				}
				.addnew .sectionheader .title .query {
					color: #D9495B;
					font-size: 1.1em;
				}

			.addnew .sectionheader .addselectedButton {
				width: 180px;
				font-size: 0.8em;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				right: 30px;
			}

		.addnew .searchcontainer {
			margin: 20px auto;
			width: 100%;
			position: relative;
			padding: 20px 35px;
			height: 100px;
		}

			.addnew .searchcontainer .search {
				width: 30%;

				border: 1px solid #999;
				padding: 5px 10px;
				text-transform: capitalize;
				border-radius: 5px;
				color: #666;
				text-indent: 15px;
				background: #fff url(../img/topmenu-icon-overview.svg) no-repeat 6px 6px;
				background-size: 14px;
				vertical-align: middle;
				box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.6);
			}

			.addnew .searchcontainer .searchButton {
				display: inline-block;
				width: 150px;
				margin: 0 10px;
				vertical-align: middle;
			}

			.addnew .searchcontainer .showdesc {
				color: #999;
				font-size: 0.7em;
				margin: 15px 0;
			}

			.addnew .searchcontainer .selecteddesc {
				position: absolute;
				display: inline-block;
				right: 30px;
				top: 50px;
				color: #999;
				font-size: 0.8em;
				margin: 5px 0;
			}

		.addnew .listcontainer {
			width: 100%;
			padding: 20px 40px;
			color: #999;
		}

		.addnew .listcontainer li {

			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			justify-content: flex-start;
			position: relative;

			margin-bottom: 20px;
		}

		.addnew .listcontainer .resultlist {
			padding: 20px;
			border: 1px solid;
			border-radius: 10px;
			background-color: #fff;
			flex: 9;
			height: 100px;
		}
			.addnew .listcontainer .resultlist .title {
				font-weight: bold;
				color: #64B8E7;
				margin-bottom: 5px;
				text-transform: capitalize;
			}

			.addnew .listcontainer .resultlist .detail {
				color: #aaa;

				display: block;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				font-size: 0.9em;
				line-height: 1.3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}

		.addnew .listcontainer .checker {
			flex: 1;
			align-items: center;
			align-content: center;
		}

		.addnew .listcontainer .checker .check {
			position: absolute;
			right: 30px;
			top: 50%;
			margin-top: -10px;
			width: 20px;
			height: 20px;
		}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||synonym overview|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	.synonym {
	}

		.synonym .containertable {
			padding: 2%;
		}
			/* 	
				Author : Prima Yudantra 
				Date : 15 April 2016
				add Class description-details in manages_searchengine.html
			*/
			.containertable .description-details
			{
				font-size: 17px;
				font-weight: bold;
				color: #666;
				/*color: black;*/
				padding-top: 10px;
				padding-bottom: 10px;
				margin-top: 5px;
				flex: 3;
				-webkit-flex: 3;
			}
			/* 	
				Author : Prima Yudantra 
				Date : 15 April 2016
				add Class title-table
			*/
			.containertable .title-table{
				color :#6092A3;
				padding-top: 10px;
				padding-bottom: 10px;
				font-weight: bold;
			}

		.synonym .createsynonym {
			width: 150px;
			position: absolute;
			top: 70px;
			right: 50px;
		}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||weight overview|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

	.weight .section .full .bottomsection {
		width: 100%; 	
		background-color: #EFEFEF;
		min-height: 500px;


		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: flex-start;
	}
		.weight .bottomsection .main {
			flex: 4;
			-webkit-flex: 4;
			padding: 3%;
		}
			.weight .searchsection {
				width: 100%;

				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: row wrap;
				justify-content: flex-start;
			}
			.weight .searchsection .searchinput {
				flex: 1;
				padding: 5px 20px;
				border-radius: 5px;
				margin-bottom: 25px;
				border: 1px solid #aaa;
			}
			.weight .searchsection .search.brownbutton {
				width: 150px;
				margin: 0 20px;
				margin-bottom: 30px;
			}

			.weight .main .sectiondetail {
				font-size: 0.9em;
				color: #333;
			}
			.weight .main .support {
				font-size: 0.9em;
				color: #333;
				margin: 5px 0;
			}
			.weight .main .support a{
				font-size: 1em;
				color: #0ce;
				margin: 5px 0;
			}

			.weight .main ul.searchresultlist .searchresult {
				padding: 10px;
				border-bottom: 1px solid;
				margin: 10px 0;
				background-color: rgba(255,255,255,0.5);
			}

			.weight .main ul.searchresultlist .searchresult .resulttitle {
				text-transform: capitalize;
				margin: 10px 0;
				color: #4AACE2;
			}
			.weight .main ul.searchresultlist .searchresult .resultbody {
				text-transform: capitalize;
				color: #999;
				font-size: 0.9em;

				display: block;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				font-size: 0.9em;
				line-height: 1.3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}


		.weight .bottomsection .side {
			flex: 2;
			-webkit-flex: 2;
			margin-top: -50px;
			background-color: #ccc;
			color: #fff;
			padding: 3% 0;
		}
			.weight .controlfieldcontainer {
				/*background-color: #A36A37;*/
				padding: 5%;
				padding-left: 20%;
				padding-right: 10%;
				margin-bottom: 30px;
			}

				.weight .controlfieldcontainer .title {
					text-transform: uppercase;
				}

				.weight .controlfieldcontainer .fieldselect {
					width: 100%;
					padding: 5px 10px;
					border-radius: 5px;
					border: none;
					margin: 10px 0;
					text-transform: capitalize;
				}

				.weight .controlfieldcontainer .impactsection {

					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-flow: row wrap;
					justify-content: center;
					align-content: center;
					align-items: center;
				}

				.weight .controlfieldcontainer .impactsection .title {
					text-transform: uppercase;
					line-height: 30px;
					width: 20%;
					-webkit-flex: 1;
				}

				.weight .controlfieldcontainer .impactsection .range-slider {

					flex: 3;
					-webkit-flex: 3;
				}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||weight range||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.range-slider {
	}

	.range-slider__range {
		-webkit-appearance: none;
		width: calc(100% - (63px));
		height: 3px;
		border-radius: 5px;
		background: #999;
		outline: none;
		padding: 0;
		margin: 0;
	}
	.range-slider__range::-webkit-slider-thumb {
		-webkit-appearance: none; 
			    appearance: none;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
		-webkit-transition: background .15s ease-in-out;
		transition: background .15s ease-in-out;
	}
	.range-slider__range::-moz-range-thumb {
		width: 10px;
		height: 10px;
		border: 0;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
		-webkit-transition: background .15s ease-in-out;
		transition: background .15s ease-in-out;
	}
	.range-slider__range::-moz-range-thumb:hover {
		background: #eee;
	}
	.range-slider__range:active::-moz-range-thumb {
		background: #eee;
	}
	.range-slider__range::-webkit-slider-thumb:hover {
		background: #eee;
	}
	.range-slider__range:active::-webkit-slider-thumb {
		background: #eee;
	}

	.range-slider__value {
		display: inline-block;
		position: relative;
		width: 50px;
		font-size: 0.9em;
		color: #fff;
		line-height: 20px;
		text-align: center;
		border: 1px solid #aaa;
		box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.1);
		border-radius: 3px;
		background: #9CDE54;
		padding: 5px 10px;
		margin-left: 8px;
	}

	::-moz-range-track {
		background: #d7dcdf;
		border: 0;
	}

	input::-moz-focus-inner,
	input::-moz-focus-outer {
		border: 0;
	}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||getting started||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.getstartBox {
		width: 100%;
		height: 200px;
		border-radius: 10px;
		background-color: #e2f7ff;
		background: linear-gradient(#e2f7ff, #ffffff);
		padding: 20px;
		color: #4aace2;
		text-transform: capitalize;
		font-size: 0.9em;
		position: relative;
	}

		.getstartBox .title {
			color: #317194;
			font-size: 1.1em;
			font-weight: bold;
			margin: 15px 0;
		}

		.getstartBox ol {
			list-style: decimal;
			list-style-position: inside;
		}

		.getstartBox ol li {
			padding: 10px 0;
			font-size: 0.9em;
		}

		.getstartBox .closeButton {
			position: absolute;
			top: 15px;
			right: 20px;
			height: 15px;
			cursor: pointer;
			text-transform: lowercase;
			font-size: 0.9em;
		}
			.getstartBox .closeButton:hover {
				font-weight: bold;
			}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||table|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.tablelist {
		border-collapse: separate;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		border: 1px solid #000;
	}

		.tablelist thead td {
			color: #fff;
			padding: 10px;
			font-weight: 900;
			/*border-top-left-radius: 10px;
			border-top-right-radius: 10px;*/
			text-transform: uppercase;
			background-color: #aaa;
		}
		.tablelist thead td.first-column{
			border-top-left-radius: 10px;
		}
		.tablelist thead td.second-column{
			border-top-right-radius: 10px;
		}

		.tablelist tbody td {
			padding: 3px;
			border-bottom: 1px solid #aaa;
			/*color: #78D7FB;*/
			color: #000;
			cursor: pointer;
			text-transform: capitalize;
		}
		.tablelist tbody tr:nth-last-child(1) td{
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom: none;
		}
	/* 	
		Author : Prima Yudantra 
		Date : 15 April 2016
		add Class table-list in pages-searchengine_details.html
	*/
	.tablelist-2 {
		border-collapse: separate;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		border: 1px solid #000;
	}

		.tablelist-2 thead td {
			color: #fff;
			padding: 30px 20px;
			/*border-radius: 10px;*/
			font-weight: 900;
			text-transform: uppercase;
			background-color: #aaa;
		}

		.tablelist-2 tbody td {
			padding: 20px;
			/*border-bottom: 1px solid #aaa;*/
			/*color: #78D7FB;*/
			cursor: pointer;
			/*text-transform: capitalize;*/
		}
		.tablelist-2 tbody tr:nth-last-child(1) td{
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom: none;
		}


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||section panel||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.sectionpanel {
		padding: 20px;
	}
		.sectionpanel .headtitle {
			margin: 5px 0;
			color: #317194;
			font-weight: bold;
			font-size: 1em;
			text-transform: capitalize;
		}

		.sectionpanel .boxContainer {
			width: 100%;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			justify-content: flex-start;
			align-content: space-around;
		}

		.sectionpanel .boxContainer .box {
			width: 33.333333%;
			padding: 3% 4%;
		}
			.sectionpanel .box .insides {
				background: #9695a3;
				background: linear-gradient(#d7d7e4, #9695a3);
				color: #fafafa;
				border-radius: 7px;
				padding: 10% 10% 15%;
			}

			.sectionpanel .insides .icons {
				height: 50px;
				width: 50px;
				margin: 0 0 10px;
			}
				.sectionpanel .rank .insides .icons {
					background-image: url(../img/icon-search.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 45px;
				}
				.sectionpanel .weight .insides .icons {
					background-image: url(../img/icon-weights.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 40px;
				}
				.sectionpanel .synonym .insides .icons {
					background-image: url(../img/icon-synonyms.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 45px;
				}
				.sectionpanel .content .insides .icons {
					background-image: url(../img/icon-content.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 38px;
				}
				.sectionpanel .domain .insides .icons {
					background-image: url(../img/icon-domains.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 45px;
				}
				.sectionpanel .collaborator .insides .icons {
					background-image: url(../img/icon-invite.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 45px;
				}
				.sectionpanel .install .insides .icons {
					background-image: url(../img/icon-install.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 40px;
				}
				.sectionpanel .livepreview .insides .icons {
					background-image: url(../img/icon-livepreview.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 45px;
				}

			.sectionpanel .insides .title {
				font-weight: bold;
				font-size: 1em;
				text-transform: capitalize;
				margin: 10px 0;
			}

			.sectionpanel .insides .desc {
				font-size: 0.8em;
				text-transform: capitalize;
			}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||recents panel||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.recentPanel {
		width: 100%;
		color: #666;
	}
		.recentPanel .title {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1em;
			margin: 15px 0;
		}

		.recentPanel .recentBox {
			padding: 0 15px;
			text-transform: capitalize;
		}

		.recentPanel .recentBox ul {
			list-style: disc;
			list-style-position: initial;
		}
		.recentPanel .recentBox ul li{
			margin: 10px 0;
			font-size: 0.9em;
			color: #777;
		}

		.recentPanel .recentBox ul li span {
			font-size: 0.9em;
			color: #ccc;
		}
		.recentPanel .recentBox ul li.showmore span{
			color: #59A7F0;
			font-size: 1em;
			cursor: pointer;
		}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||colored buttons|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	.brownbutton {
		background-color: #8B572A;
		box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.9);
		color: #fff;
		padding: 5px 10px;
		border-radius: 5px;
		text-transform: uppercase;
		font-size: 0.8em;
		line-height: 1.5;
		cursor: pointer;
		text-align: center;
	
	}
		.redbutton {
		background-color: #BE1429;
		box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.9);
		color: #fff;
		padding: 5px 10px;
		border-radius: 5px;
		text-transform: uppercase;
		font-size: 0.8em;
		line-height: 1.5;
		cursor: pointer;
		text-align: center;
	
	}
		.greenbutton {
		background-color: #7ED321;
		box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.9);
		color: #fff;
		padding: 5px 10px;
		border-radius: 5px;
		text-transform: uppercase;
		font-size: 0.8em;
		line-height: 1.5;
		cursor: pointer;
		text-align: center;
	}

		.goldbutton {
		/*background-color: #edd665;*/
		background-color: goldenrod;
		/*box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.9);*/
		color: black;
		padding: 5px 10px;
		border-radius: 5px;
		text-transform: uppercase;
		font-size: 0.8em;
		line-height: 1.5;
		cursor: pointer;
		text-align: center;
	}

/*||||||||||||||||||||||||||||||||||| BOX |||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* 	
	Author : Prima Yudantra 
	Date : 18 April 2016
	CSS BOX
*/

.white-box{
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #000;
}
	.white-box:hover{
		background-color: #EDF3F5;
	}
	.white-box span.title{
		color: #66ccff;
		font-weight: bold;
	}
	.white-box span.description{
		color: grey;
		font-size: 12px;
	}
	.white-box .icon-pin{
		font-size: 20px;
	}

/* 	
	Author : Prima Yudantra 
	Date : 22 April 2016
	CSS BOX-Content
*/

.box-content{
	height: auto;
	margin-top: 20px;
	background-color:white;
	box-shadow: 0 2px 3em; black;
    background: -webkit-linear-gradient(white, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, grey); /* Standard syntax */
}

	.box-content .side-box{
	}

	.box-content .side-box .container-content{
		padding: 20px;
	}
	.box-content .side-box ul li{
		list-style-type: square;
		color: #7a7677;	
	}

	.box-content .right-content{
		padding: 30px;
		background: white;
	}

	.box-content .right-content .R{
		padding-bottom:80px;
	}

	.box-content .right-content span.title-box{
		color: #8A511E;
		font-size: 20px;
		padding-bottom:5px;
	}

	.box-content .right-content p.description-box{
		font-size: 11px;
	}
	.box-content .right-content .add-more-field{
		text-align: right;
		color : #A40317;
	}

	.box-content .box-form{
		font-size: 12px;
	}
	.box-content .box-form span.radio-text{
		color : #F7B64A;
		font-size: 20px;
	}
	.box-content .box-form span.upload-text{
		color: #BFBFBF;
		font-size: 12px;
	}
/*||||||||||||||||||||||||||||||||||| CHECKBOX |||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* 	
	Author : Prima Yudantra 
	Date : 18 April 2016
	Check BOX
*/
.checkbox-search-customize{
	padding:30px;
}

/*||||||||||||||||||||||||||||||||||| CHECKBOX |||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* 	
	Author : Prima Yudantra 
	Date : 19 April 2016
	SEARCH CUSTOMIZE CONTENT
*/

.header-search-customize{
	color: #90C3D4;
	font-weight: bold;
}
	.header-search-customize span.url{
		color: #9D6A37;
	}
	.header-search-customize span.search-result{
		color:red;
	}
.header-show-result{

}
	.header-show-result .title{
		color:red;
	}

.header-selected{
	font-size: 1em;
    color: #666;
    font-weight: bold;
}
.header-show-result{
	font-size: 1em;
    color: #666;
    font-weight: bold;
}
.header-show-result span{
	color: #9D6A37;
}

.search-customize-content{
	margin-bottom:1px;
	margin-top:5px;
}


/*||||||||||||||||||||||||||||||||||| POPUP |||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* 	
	Author : Prima Yudantra 
	Date : 20 April 2016
	SEARCH CUSTOMIZE CONTENT
*/

.title-popup{
	font-size: 1.3em;
	font-weight: bolder;
	text-transform: capitalize;
	align-content: stretch;
	color: #9D6A37;

}

/*||||||||||||||||||||||||||||||||||| HOVER BUTTON DELETE |||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*
	Author : Prima Yudantra
	Date : 21 April 2016
	Add hover delete button at manage ranking
	
*/
.delete-ranking{
	display: none;
}
tr.content-ranking:hover .delete-ranking{
	display: block;
}
tr.content-ranking:hover .empty{
	display: none;
}


/*||||||||||||||||||||||||||||||||||| SIDEBAR |||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*
	Author : Prima Yudantra
	Date : 21 April 2016
	Sidebar CSS
*/
.sidebar{
	background: #A0A6A8;
	color: white;
	height: auto;
}
	.sidebar .sidebar-title{
		font-style:bold;
		font-size: 20px;
		padding-bottom: 20px;
	}
	.sidebar .sidebar-container{
		padding: 30px;
	}
	.sidebar .sidebar-content p{
		padding-left:40px;
		text-align: left;
	}

/* 
	Author : Prima Yudantra
	Date : 25 April 2016
	Sidebar Search Relevation
*/
.content-search-relevation{
	background: #bcbaba;
}

	/*Content Search Relevation*/
	.content-search-relevation .sidebar-search-relevation{
		background: #bcbaba;
		padding: 20px;
		color: white;
	}
		.sidebar-search-relevation select{
			width: 200px;
		}
		.sidebar-search-relevation .slider-range span.impact{
			font-size:12px;
			
		}

	/*Right Search Relevation*/
	.content-search-relevation .right-search-relevation{
		background-color: #EFEFEF;
		min-height: 600px;
	}
	.content-search-relevation .right-search-relevation .container{
		padding-top: 30px;
		width: 85%;
		font-size: 14px;
	}
	.right-search-relevation .search{
		padding-top: 20px;
	}
	.right-search-relevation .description{
		margin-right: 200px
	}
	.right-search-relevation .search-content span.title{
		color: #80bbf7;
		/*color: blue;*/
		font-size:14px;
	}
	.right-search-relevation .search-content p{
		color: #939393;
	}


/*|||||||||||||||||||INPUT RANGE GOLDENROD||||||||||||||||*/

/* 
	Author : Prima Yudantra
	Date : 25 April 2016
	Input range goldenrod
*/

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    /*border: 1px solid white;*/
    
    /*required for proper track sizing in FF*/
    /*width: 300px;*/
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    /*outline: 1px solid white;*/
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

/*|||||||||||||| ENGAGEMENT MODULE ENIGMA ||||||||||||||||||||||||||||*/
/*
	Author : Prima Yudantra
	Date : 26 April 2016
	CSS for pages engagement module enigma
*/
.enigma-content{
	background: white;
	height: auto !important;
	min-height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;

}
	.enigma-content .left-enigma{
		padding: 40px;
		background:white;
	}
	.enigma-content .left-enigma span.sectiontitle{
		font-size: 1.3em;
		font-weight: bolder;
		text-transform: capitalize;
		align-content: stretch;
		color: #9D6A37;
		margin-bottom: 20px;
	}

	.enigma-content .left-enigma p{
		width: 60%;
		font-size:12px;
	}
	.enigma-content .sidebar-enigma{
		padding: 20px;
		background-color: #DEDEDE;
		height: 100%;
		-ms-flex: 0 100px;
		-webkit-box-flex:  0;
		-moz-box-flex:  0;
		-ms-box-flex:  0;
		box-flex:  0;  
	}
	.enigma-content .sidebar-enigma .title-menu{
		font-size:14px;
		color: black;
		text-align: center;
		padding-bottom: 10px
	}
	.enigma-content .sidebar-enigma ul{
		margin:auto;
		font-size: 10px;
	}
	.enigma-content .sidebar-enigma .list ul li{
		padding-left: 80px;
	}
	.enigma-content .sidebar-enigma ul li{
		text-align: left;
		list-style: none;
		width: 80%;
		color: white;
		font-size: 12px;
	}

/*||||||||||||||| CREATE ENGAGEMENT ||||||||||||||||||||||*/

/*
	Author : Prima Yudantra
	Date : 27 April 2016
	CSS for page pages-craete-engagement.html
*/

.create-engagement{
	background: #bcbaba;
}

	.create-engagement .sidebar-content{
		background: #bcbaba;
		padding: 20px;
		font-size:13px;
	}
	.create-engagement .sidebar-content .list span.title-sidebar{
		margin-bottom:20px;
	}

	.create-engagement .sidebar-content ul{
		margin:auto;
		font-size: 10px;
		padding: 5px;
	}

	.create-engagement .sidebar-content ul li{
		text-align: left;
		list-style: none;
		width: 80%;
		color: white;
		font-size: 12px;
	}

	/* Right Content */

	.create-engagement .right-content{
		/*background: #F0F0F0;
		padding: 30px;
		margin: auto;*/
		background-color: #EFEFEF;
		height: auto;
	}
	.create-engagement .right-content span.sectiontitle{
		font-size: 15px;
		color: #357396;
		font-weight: bold;
		margin-top: 200px;
	}
	.create-engagement .right-content .content-form{
		padding-top:10px;
	}

	.right-content .container{
		padding-top: 30px;
		width: 85%;
		font-size: 14px;
	}
		.create-engagement .right-content .white-box{
			width: 100%;
		    background-color: white;
		    border-radius: 20px;
		    padding: 20px;
		    border: 1px solid #000;
		}

		.create-engagement .right-content .content-form span{
			margin-bottom: 20px;
			font-weight: bold;
		}

		.create-engagement .right-content .content-form .section-form span.search-term{
			color: #5E9FB5;
			font-size : 12px;
		}
		.create-engagement .right-content .content-form .section-form p.search-term{
			color: #bcbaba;
			font-size: 12px;

		}
		.create-engagement .right-content .white-box span.active{
			border: 1px solid #FFF;
			background-color: #4DE82E;
			color: white;
			border-radius: 20px;
			padding: 4px;
		}
		.create-engagement .right-content .white-box span.owner{
			color: #BFBFBF;
			font-size: 12px;	
		}
		.create-engagement .right-content .section-form .pre{
			padding-bottom: 2px;
		}
		.create-engagement .right-content .sectiontitle input[type:text]{
			width: 40px;
		}
		.create-engagement .right-content .section-form textarea{
			width: 700px;
			height: 300px;
		}
		.create-engagement .right-content .error-messages{
			color:red;
		}

		/*
			Author : Prima Yudantra
			Date : 4 May 2016
			Box for Enagement Module
		*/

		.engagement-box{
			width: 100%;
			height: 160px;
		    background-color: white;
		    /*border-radius: 20px;*/
		    text-align: center;
		    margin: auto;
		    border: 1px solid #bcbaba;
		    border-radius:10px;
		    margin-bottom: 20px;
		    color: #bcbaba;
		}
		.engagement-box:hover{
			border: 1px solid #5E9FB5;
			background-color: #EBF4F7	;
			color: #5E9FB5;
		}

		.engagement-box-2{
			width: 100%;
			height: 140px;
		    background-color: #317194;
		    /*border-radius: 20px;*/
		    text-align: left;
		    margin: auto;
		    padding: 15px;
		    border: 1px solid ##317194;
		    border-radius:10px;
		    margin-bottom: 20px;
		    color: #FFF;
		}
		.engagement-box-2:hover{
			border: 5px solid #5E9FB5;
			background-color: white	;
			color: #5E9FB5;
		}
		.engagement-box-2 p.title{
			font-weight: bold;
			font-size:14px;
			margin-bottom: 50px;	
		}
		.engagement-box-2 p.status{
			color:#69e56f;
			font-size:12px;
		}

		.engagement-box-3{
			width: 100%;
			height: 140px;
		    background-color: white;
		    /*border-radius: 20px;*/
		    text-align: left;
		    margin: auto;
		    padding: 15px;
		    border: 1px solid ##317194;
		    border-radius:10px;
		    margin-bottom: 20px;
		}
			.define-content span.field-name{
				margin-right: 20px;
			}

/*|||||||||||||| SPARSE INSTALLATION ||||||||||||||||||||||||||||*/
/*
	Author : Prima Yudantra
	Date : 26 April 2016
	CSS for pages sparse installation
*/

.sparse-installation-content{
	padding: 40px;
	min-height: 500px;
}
	.sparse-installation-content textarea.blue-box-script{
		width: 100%;
		min-height: 300px;
		margin-top: 2px;
		margin-bottom: 20px;
	    background-color: #EDFBFF;
	    padding: 20px;
	    border: 1px solid #91CFE3;
	    color: grey;
	}

	.sparse-installation-content .greybox{
		margin-top: 20px;
		color: white;
		background-color: #5A6569;
		padding: 20px;
		height: auto;
		font-size:12px;
	}
	.sparse-installation-content .greybox button{
		color: white;
	}

/*||||||||||||||| MANAGE YOUR TEAM ||||||||||||||||||||||*/

/*
	Author : Prima Yudantra
	Date : 27 April 2016
	CSS for page pages-manage-your-team.html
*/

.manage-team-content{
	background: #bcbaba;
}

	.manage-team-content .sidebar-content{
		background: #bcbaba;
		padding: 20px;
		color: white;
	}

	.manage-team-content .sidebar-content ul{
		margin:auto;
		font-size: 10px;
	}

	.manage-team-content .sidebar-content ul li{
		text-align: left;
		list-style: none;
		width: 80%;
		color: white;
		font-size: 12px;
	}

	/* Right Content */

	.manage-team-content .right-content{
		/*background: #F0F0F0;
		padding: 30px;
		margin: auto;*/
		background-color: #EFEFEF;
		height: auto;
	}
	.manage-team-content .right-content span.sectiontitle{
		font-size: 15px;
		color: #357396;
		font-weight: bold;
		margin-top: 200px;
	}
	.manage-team-content .right-content .content-form{
		padding-top:10px;
	}

	.manage-team-content .right-content .container{
		padding-top: 30px;
		width: 85%;
		font-size: 14px;
	}
		.manage-team-content .right-content .white-box{
			width: 100%;
			/*margin-top: 2px;*/
			/*margin-bottom: 2px;*/
		    background-color: white;
		    border-radius: 20px;
		    padding: 20px;
		    border: 1px solid #000;
		}
		.manage-team-content .right-content .white-box span.active{
			border: 1px solid #FFF;
			background-color: #4DE82E;
			color: white;
			border-radius: 20px;
			padding: 4px;
		}
		.manage-team-content .right-content .white-box span.owner{
			color: #BFBFBF;
			font-size: 12px;	
		}
		.manage-team-content .right-content .section-form .pre{
			padding-bottom: 2px;
		}
		.manage-team-content .right-content .sectiontitle input[type:text]{
			width: 40px;
		}
		
		.manage-team-content .right-content .section-form textarea{
			width: 700px;
			height: 300px;
		}
		.manage-team-content .right-content .error-messages{
			color:red;
		}

/*||||||||||||||| ENGAGEMENT MODULE FACET ||||||||||||||||||||||*/

/*
	Author : Prima Yudantra
	Date : 11 May 2016
	CSS for Engagement Module Facet
*/
.containerfacet{
	padding:4%;
}
	.containerfacet .description-details
	{
		font-size: 17px;
		font-weight: bold;
		color: #666;
		/*color: black;*/
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 5px;
		flex: 3;
		-webkit-flex: 3;
	}
	.containerfacet .title{
		color :#6092A3;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: bold;
	}

	.facetbox{
		width: 100%;
		margin-top: 2px;
		margin-bottom: 10px;
		padding: 10px;
		border-radius: 2px;
		background-color: white;
	    border: 1px solid #000;
	}
		.facetbox .facet-title{
			background-color: white;
			height: 30px;
			font-weight: bold;
			width: 100%;
		}
			.facetbox .facet-title .max-min{
				cursor:pointer;
				color: #9ECEDE;
				float:right;
			}

		.facetbox .facet-form{
			background-color: white;
			height:100%;
			width: 100%;
		}

	.sortbox{
		width: 100%;
		margin-top: 2px;
		margin-bottom: 10px;
		padding: 10px;
		border-radius: 2px;
		background-color: white;
	    border: 1px solid #000;
	}
		.sortbox .sort-title{
			background-color: white;
			height: 30px;
			font-weight: bold;
			width: 100%;
		}
			.sortbox .sort-title .max-min-sort{
				cursor:pointer;
				color: #9ECEDE;
				float:right;
			}

		.sortbox .sort-form{
			background-color: white;
			height:100%;
			width: 100%;
		}
